header__inner {
  max-width: 1230px;
}

.header__logo {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-decoration: none
}

main {
  margin: 0 10% 10%;
}

.form {
  max-width: 1230px;
  margin: 0 auto;
  padding: 10px 0;
}

.form__group {
  display: flex;
  text-align: center;
}

.form__label--required {
  padding: 4px 6px;
  border-radius: 3px;
  color: red;
}

.form__example {
  color: #aaaa;
  text-align: left;
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
}

.form__label--item{
  text-align: left;
  display: inline-block;
  text-align: right;
  width: 150px;
}

.form__group-content-gender{
  width: 20%;
  text-align: center;
}

.form__group-content{
  text-align: center;
}

.form__input--text input,
.form__input--textarea textarea {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: left;
}

.form__input--text input {
  height: 30px;
}

.form__input--textarea textarea {
  height: 180px;
}

.form__button {
  margin-top: 10px;
  position: relative;
}

.form__button-submit {
  padding: 10px;
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY (-50%) translateX (-50%)
}